body {
    margin: 0;
    background-color: rgb(109, 109, 234);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, 4);
    grid-template-rows: repeat(auto-fit, 8);
}

button  {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(237, 224, 249);
}

.result {
    background-color: rgb(43, 43, 104);
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.ac {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.del {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.number, .ac, .del, .operators {
    font-size: 25px;
}

.currentNumber {
    color: rgb(224, 217, 217);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}




